# postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=senha
POSTGRES_DB=portfolio-service-db
POSTGRES_HOST_PORT=7401
TZ=America/Sao_Paulo

# prisma
DATABASE_URL=postgresql://root:senha@portfolio-service-backend-database:5432/portfolio-service-db

# node.js
PORT=2390
NODE_VERSION=24-alpine