# postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=senha
POSTGRES_DB=portfolio-service-db
POSTGRES_HOST_PORT=7401

# redis
REDIS_HOST="127.0.0.1"
REDIS_HOST_PORT=6379
REDIS_DB=0

# prisma
DATABASE_URL="postgresql://root:senha@localhost:7401/portfolio-service-db"

# node.js
PORT=8720